@{
    ViewData["Title"] = "BlogAssignTag";
}

@model BlogTag


<form method="post" asp-controller="Blog" asp-action="BlogAssignTag">

    @if (ViewBag.message != null)
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }

    
    


    <div class="mb-3">
        <label class="form-label">Makale seçiniz :</label>
        <select asp-for="BlogId" class="form-select" aria-label="multiple select example">
            @foreach (var item in (List<Blog>)ViewBag.Blogs)
            {
                if (item.Id == ViewBag.BlogId)
                {
                    <option value="@item.Id" selected>@item.Tittle</option>
                }

                <option value="@item.Id">@item.Tittle</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Etiket seçiniz :</label>
        <select asp-for="TagId" class="form-select" aria-label="multiple select example">
            @foreach (var item in (List<Tag>)ViewBag.Tags)
            {
                <option value="@item.Id">@item.TagName</option>
            }
        </select>
    </div>
    <button class="btn btn-success" type="submit">Ekle</button>
</form>